@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg-welcome {
  background-color:#4c6d66;
  background-image: 
    radial-gradient(at 50% 30%, rgb(67, 62, 95) 0, transparent 50%), 
    radial-gradient(at 50% 100%, rgb(88, 106, 47) 0, transparent 50%), 
    radial-gradient(at 20% 20%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.logo{
    width: 200px;
    height:200px;
    padding: 1rem;
  
    background-image: url(https://s.marketwatch.com/public/resources/images/MW-GF945_billio_ZG_20180321134639.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  
    mask-image: url(https://res.cloudinary.com/pajimo/image/upload/v1647610106/Untitled_1.png);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  padding-top: 20px;
}

.modal-content{
  width: 550px;
  background-color: antiquewhite;
  border-radius: 40px;
}

.modal-header, .modal-footer{
  

}

.modal-title{
  margin: 0;
}
.modal-body{
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
